{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>@edchelstephens</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet"
              type="text/css"
              href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'pages/images/favicon.ico' %}" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css?family=Montserrat"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

        <link rel="stylesheet"
              type="text/css"
              href="{% static 'pages/style.css' %}" />
    </head>
    <body class="w3-black">
        <!-- Icon Bar (Sidebar - hidden on small screens) -->
        <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-black">
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
                <i class="fa fa-home w3-xxlarge"></i>
                <p>HOME</p>
            </a>
            <a
                href="#about"
                class="w3-bar-item w3-button w3-padding-large w3-black"
            >
                <i class="fa fa-user w3-xxlarge"></i>
                <p>ABOUT</p>
            </a>
            <a
                href="#skills"
                class="w3-bar-item w3-button w3-padding-large w3-black"
            >
                <i class="fa fa-cogs w3-xxlarge"></i>
                <p>SKILLS</p>
            </a>
            <a
                href="#experience"
                class="w3-bar-item w3-button w3-padding-large w3-black"
            >
                <i class="fa fa-drivers-license-o w3-xxlarge"></i>
                <p>EXPERIENCE</p>
            </a>
            <a
                href="#contact"
                class="w3-bar-item w3-button w3-padding-large w3-black"
            >
                <i class="fa fa-envelope w3-xxlarge"></i>
                <p>CONTACT</p>
            </a>
        </nav>

        <!-- Navbar on small screens (Hidden on medium and large screens) -->
        <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
            <div
                class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small"
            >
                <a href="#" class="w3-bar-item w3-button" style="width: 20% !important"
                >HOME</a
                    >
                    <a
                        href="#about"
                        class="w3-bar-item w3-button"
                        style="width: 20% !important"
                    >ABOUT</a
                        >
                        <a
                            href="#skills"
                            class="w3-bar-item w3-button"
                            style="width: 20% !important"
                        >SKILLS</a
                            >
                            <a
                                href="#experience"
                                class="w3-bar-item w3-button"
                                style="width: 20% !important"
                            >EXPERIENCE</a
                                >
                                <a
                                    href="#contact"
                                    class="w3-bar-item w3-button"
                                    style="width: 20% !important"
                                >CONTACT</a
                                    >
                                </div>
                            </div>

                            <!-- Page Content -->
                            <div class="w3-padding-large" id="main">
                                <!-- Header/Home -->
                                <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
                                    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Ed.</h1>
                                    <h3>Senior Python Django Software Engineer</h3>
                                    <img
                                        src="https://avatars.githubusercontent.com/u/49672830?v=4"
                                        alt="ed"
                                        class="w3-image"
                                        width="25%"
                                        height="25%"
                                        style="border-radius: 50% !important;"
                                    />
                                </header>

                                <!-- About -->
                                <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
                                    <h2 class="w3-text-light-grey">About</h2>
                                    <hr style="width: 200px" class="w3-opacity" />
                                    <p style="font-size: 17px !important">
                                        I am Edchel Stephen Nini, a Senior Python Django Lead Full Stack developer.

                                        <br />
                                        <br />
                                        I am experienced in Python, Django, Django REST Framework, PostgreSQL, with AngularJS and React JS full stack development on Linux platform with deployment experience in AWS, GCP.


                                        I am a Senior Software Engineer, Full Stack Web Developer, with work experience on Learning Management System, Payroll Application that supports both web and mobile. Experienced on Sports Management and Games Fixture Generation system for schools in Australia. Experienced on Accounting Software Application with Third Party Integration for a company in Belgium. Also experienced in
                                        desktop GUI development and python image processing.
                                        I am also a Research and Training Officer(Clean Code and Test Driven Development), Project Lead, Test Engineer Lead and one of the Lead Code Reviewers in our team.
                                        <br />
                                        <br />
                                        I am very confident with my Python and Django programming skills.
                                        <br />
                                        <br />
                                        I have good experience in end to end development with cyber security in mind.
                                        From planning business model entities with business logic & constraints to
                                        structuring  ORM models and database table migrations with defined relationships.
                                        Creating secure APIs to process business transactions on active records.
                                        Experienced in front end development, presenting result data to the user using front-end web technologies: HTML & CSS(Bootstrap), JavaScript(AngularJS, React for Single Page Applications), HTMX,
                                        Django Template Language.
                                        Lead in configuring and creating automated tests using Test Driven Development,
                                        to ensure code works correctly and to maintain high production code quality.
                                        With strong problem solving and debugging skills.

                                        <br />
                                        <br />
                                        I am a fast learner, able to learn and adapt to new technologies on the go.
                                        Able to read technical framework documentations, manuals and implement configurations to integrate third-party apps to project as needed.

                                        <br />
                                        <br />
                                        I am a leader, a team player and a capable independent worker with strong communication and problem-solving skills.

                                        <br />
                                        <br />
                                        I follow high quality software coding standards - Clean Code, Pragmatic Programming Disciplines, Test Driven Development, (Python PEP-8).
                                        I am experienced in Agile development methodology, SCRUM, Pair programmings, Peer Code Review.

                                        Very experienced in version control on bitbucket, github.
                                        Working with command-line interfaces, secure shell, automations, ci, pre-commit hooks, github actions, configuring project structure, virtual environments and securing secret keys and data in the application.
                                        Experienced in cloud deployment with AWS.
                                        Experienced in Google Cloud Platform for integrating social logins to django applications.
                                    </p>



                                </div>
                                <div class="w3-padding-24 w3-content" id="skills">
                                    <h2 class="w3-text-light-grey">Skills</h2>
                                    <hr style="width: 200px" class="w3-opacity" />
                                    <p class="w3-wide">Python</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>
                                    <p class="w3-wide">Django</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>

                                    <p class="w3-wide">Back-End Development</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>


                                    <p class="w3-wide">API Integrations</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>

                                    <p class="w3-wide">AWS</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>


                                    <p class="w3-wide">Dev Ops</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>

                                    <p class="w3-wide">Front-End Development</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 80%"></div>
                                    </div>

                                    <p class="w3-wide">Javascript</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 90%"></div>
                                    </div>




                                    <p class="w3-wide">Automated Testing</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>


                                    <p class="w3-wide">Training</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>

                                    <p class="w3-wide">Research</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>


                                    <p class="w3-wide">Email Deliverability</p>
                                    <div class="w3-white">
                                        <div class="w3-dark-grey" style="height: 28px; width: 100%"></div>
                                    </div>

                                    <br />

                                    <p class="w3-wide">Worked On</p>
                                    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                                        <div class="w3-quarter w3-section">
                                            <span class="w3-xlarge">10+</span><br />
                                            Companies
                                        </div>
                                        <div class="w3-quarter w3-section">
                                            <span class="w3-xlarge">20+</span><br />
                                            Projects
                                        </div>
                                        <div class="w3-quarter w3-section">
                                            <span class="w3-xlarge">40+</span><br />
                                            Production Repositories
                                        </div>
                                        <div class="w3-quarter w3-section">
                                            <span class="w3-xlarge">100+</span><br />
                                            Trainings
                                        </div>
                                    </div>

                                    <a href="https://drive.google.com/file/d/1XNHBRVUL8PL6blFz5zbPyT_vN8Gr1pw7/view?usp=drive_link" target="_blank" class="w3-button w3-light-grey w3-padding-large w3-section">
                                        <i class="fa fa-download"></i> Download Resume
                                    </a>
                                </div>

                                <!-- Experience Section -->
                                <div class="w3-padding-24 w3-content" id="experience">
                                    <h2 class="w3-text-light-grey">Experience</h2>
                                    <hr style="width: 200px" class="w3-opacity" />
                                    <h3 class="w3-padding-24 w3-text-light-grey">Projects</h3>

                                    <img src="https://yahshuadolo.com/static_cdn/img/owlex.png" alt="DOLO" class="w3-left w3-circle w3-margin-right" style="width:80px">
                                    <p><span class="w3-large w3-margin-right"><a href="https://www.yahshuadolo.com/" target="_blank">DOLO</a></span> Learning Management System App</p>
                                    <p>Lead Developer,  Full-Stack Development, API Developer, Maintainer</p><br>


                                    <img src="https://super-static-assets.s3.amazonaws.com/8a667cc7-8278-4f55-a801-c62002cb67bc/uploads/logo/e4ad0920-7838-4807-b700-67be3059bf26.png" alt="Yahshua Payroll" class="w3-left w3-circle w3-margin-right" style="width:80px">
                                    <p><span class="w3-large w3-margin-right"><a href="https://yahshuapayrollonline.com/" target="_blank">Yahshua Payroll</a></span> Payroll App</p>
                                    <p>Lead Test Engineer,  Lead Code Reviewer, API Developer, Maintainer</p><br>


                                    <img src="https://sportsdash.com.au/static/img/SportsDash.png" alt="SportsDash" class="w3-left w3-circle w3-margin-right" style="width:80px">
                                    <p><span class="w3-large w3-margin-right"><a href="https://sportsdash.com.au/" target="_blank">SportsDash</a></span> Sports Management System App</p>
                                    <p>Senior Software Developer, Full-Stack Development, Lead Test Engineer</p><br>


                                    <img src="https://static.wixstatic.com/media/9311a4_13f63a045c8e43c588a8cf62141400d1~mv2.png/v1/fill/w_168,h_37,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9311a4_13f63a045c8e43c588a8cf62141400d1~mv2.png" alt="EvolvePrime" class="w3-left w3-circle w3-margin-right" style="width:80px">
                                    <p><span class="w3-large w3-margin-right"><a href="https://www.evolveprime.com/" target="_blank">EvolvePrime</a></span> Desktop App for Image Processing</p>
                                    <p>Lead Developer, Lead Test Engineer</p><br>

                                    <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGSEs7BEPNA_Q/company-logo_200_200/company-logo_200_200/0/1660041344669/yeoki_2_logo?e=1732147200&v=beta&t=65NFgXk5RYn9EhrUQEfZmxGHU17WxYxzNqkxwvg1aiw" alt="Yeoki" class="w3-left w3-circle w3-margin-right" style="width:80px">
                                    <p><span class="w3-large w3-margin-right"><a href="https://www.linkedin.com/company/yeoki-2/?originalSubdomain=be" target="_blank">Yeoki</a></span> Pre-accounting Software</p>
                                    <p>Senior Django Developer, Full-Stack Development, API Developer, Test Engineer</p><br>

                                    <img src="https://media.licdn.com/dms/image/v2/C4E0BAQHsE0okoj9x_g/company-logo_200_200/company-logo_200_200/0/1674247113918?e=1732147200&v=beta&t=P7i9ZQ7hVbfRPCogjwVQrAremFSNzJ2NXzQtDMsl6z8" alt="Gem-logic" class="w3-left w3-circle w3-margin-right" style="width:80px">
                                    <p><span class="w3-large w3-margin-right"><a href="https://gem-logic.com/" target="_blank">Gem Logic</a></span> Jewelry Store Management Software</p>
                                    <p>Senior Django Developer, Full-Stack Development, API Developer, Test Engineer</p><br>


                                    <img src="https://www.pruuv.com/res/images/plogo.svg" alt="pruuv" class="w3-left w3-circle w3-margin-right" style="width:80px">
                                    <p><span class="w3-large w3-margin-right"><a href="https://pruuv.com/" target="_blank">Pruuv</a></span>  - Marketing Analytics Tool</p>
                                    <p>
                                        Senior Python Django Developer,
                                        Project Manager,
                                        Team Lead,
                                        Snowflake Developer,
                                        AWS Devops Engineer,
                                        Full-Stack Development,
                                        API Developer,
                                        Test Engineer
                                    </p>
                                    <br>


                                    <h3 class="w3-padding-24 w3-text-light-grey">Frameworks</h3>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Backend:</span> Django, PostgreSQL, Snowflake, Django Rest Framework,  API & Back-end Development</p>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Frontend:</span> AngularJS, ReactJS, VanillaJS, Twitter Bootstrap</p>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Code Control:</span> git, github, bitbucket</p>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Development Style:</span> Test Driven Development</p>

                                    <h3 class="w3-padding-24 w3-text-light-grey">Devops</h3>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">AWS:</span> EC2, AWS Lambda, Elastic Beanstalk, Route 53, S3, SQS, MSK, RDS, SES, SNS, IAM, Workmail, Elasticache</p>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Google:</span> GCP, Gmail API, Web OAuth Client for Social Login with Gmail</p>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Platform:</span> Linux Server with Nginx, Gunicorn, uWSGI, Celery, Redis </p>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Tools:</span> Ansible, Ansible Tower, Docker, Shell Scripting, SSH config, Pre-commit, Github actions</p>

                                    <h3 class="w3-padding-24 w3-text-light-grey">Email Deliverability</h3>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">AWS:</span>  SES, AWS Workmail with SPF, DKIM, DMARC authentication BIMI and configurations</p>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Others:</span> Sendgrid, Understands Best Practices for Sending Emails and Email Deliverability</p>

                                    <h3 class="w3-padding-24 w3-text-light-grey">Cybersecurity</h3>
                                    <p class="w3-wide w3-margin-bottom"><span style="font-size:18px; font-weight:bold">Safety First:</span>  Develops code with Cybersecurity in mind. Secures Data with proper encryption. Follows Test Driven Development. Common threats and cybersecurity aware.</p>


                                </p>

                                <!-- Rate -->
                                <h3 class="w3-padding-16 w3-text-light-grey">Developer Rate</h3>
                                <hr style="width: 200px" class="w3-opacity" />
                                <div class="w3-row-padding" style="margin: 0 -16px">
                                    <div class="w3-half w3-margin-bottom">
                                        <ul
                                            class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off"
                                        >
                                            <li class="w3-dark-grey w3-xlarge w3-padding-32">Senior Python Django Developer</li>
                                            <li class="w3-padding-16">Python</li>
                                            <li class="w3-padding-16">Django</li>
                                            <li class="w3-padding-16">Deployment</li>
                                            <li class="w3-padding-16">Project Architecture</li>
                                            <li class="w3-padding-16">Back-end Development</li>
                                            <li class="w3-padding-16">Full-stack Development</li>
                                            <li class="w3-padding-16">AWS</li>
                                            <li class="w3-padding-16">API's</li>
                                            <li class="w3-padding-16">Third Party Integrations</li>
                                            <li class="w3-padding-16">CI/CD Actions</li>
                                            <li class="w3-padding-16">Unit Testing</li>
                                            <li class="w3-padding-16">Email Deliverability</li>
                                            <li class="w3-padding-16">Research & Training</li>
                                            <li class="w3-padding-16">
                                                <h2>$ 35</h2>
                                                <span class="w3-opacity">per hour</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Contact Section -->
                            <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
                                <h2 class="w3-text-light-grey">Contact Me</h2>
                                <hr style="width: 200px" class="w3-opacity" />

                                <div class="w3-section">
                                    <p>
                                        <i
                                            class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"
                                        ></i>
                                        Cagayan De Oro City, Mindanao, Philippines
                                    </p>
                                    <p>
                                        <i
                                            class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"
                                        ></i>
                                        Phone: +639 26 330 5363
                                    </p>
                                    <p>
                                        <i
                                            class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"
                                        >
                                        </i>
                                        Email: edchelstephens@gmail.com
                                    </p>
                                </div>
                                <br />
                                <p>Let's get in touch. Send me a message:</p>


                                <div>
                                    {% csrf_token %}
                                    <p>
                                        <input
                                            class="w3-input w3-padding-16"
                                            type="text"
                                            placeholder="Name"
                                            required
                                            name="Name"
                                            id="contact-me-name"
                                        />
                                    </p>
                                    <p>
                                        <input
                                            class="w3-input w3-padding-16"
                                            type="text"
                                            placeholder="Email"
                                            required
                                            name="Email"
                                            id="contact-me-email"
                                        />
                                    </p>
                                    <p>
                                        <input
                                            class="w3-input w3-padding-16"
                                            type="text"
                                            placeholder="Subject"
                                            required
                                            name="Subject"
                                            id="contact-me-subject"
                                        />
                                    </p>
                                    <p>
                                        <input
                                            class="w3-input w3-padding-16"
                                            type="text"
                                            placeholder="Message"
                                            required
                                            name="Message"
                                            id="contact-me-message"
                                        />
                                    </p>
                                    <p>
                                        <button
                                            class="w3-button w3-light-grey w3-padding-large"
                                            type="submit"
                                            onClick="sendEmail()"

                                        >
                                            <i class="fa fa-paper-plane"></i> SEND MESSAGE
                                        </button>
                                    </p>
                                </div>
                            </div>

                            <!-- Footer -->
                            <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
                                <div class="footer-verse ">
                                    <code>" If any of you lacks wisdom, let him ask of God, who gives to all liberally and without reproach, and it will be given to him."</code>
                                    <br />
                                    <code> - James 1:5 NKJV</code>
                                    <br />
                                    <br />
                                </div>
                                <div class="footer-links">
                                    <a href="https://github.com/edchelstephens/" target="_blank"><i class="fa fa-github w3-hover-opacity w3-xxlarge"></i></a>
                                    <a href="https://www.linkedin.com/in/edchelstephens/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity w3-xxlarge"></i>
                                    </div>
                                </footer>
                            </div>
                            <script>

                                const notifyEmailSucess = () => {
                                    Swal.fire(
                                        "Email Sent",
                                        "Will get back to you shortly!",
                                        "success"
                                    );
                                };

                                const notifyEmailError = () => {
                                    Swal.fire(
                                        "Email Not Sent",
                                        "Please try again later.",
                                        "error"
                                    );
                                };

                                const resetContactMeFields = () => {
                                    $("#contact-me-name").val("");
                                    $("#contact-me-email").val("");
                                    $("#contact-me-subject").val("");
                                    $("#contact-me-message").val("");
                                }

                                const isValidEmail = (email) => {
                                    return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
                                }

                                const validateEmailData = (data) => {

                                    let name = data["contact-me-name"]
                                    let email = data["contact-me-email"];
                                    let subject = data["contact-me-subject"];
                                    let message = data["contact-me-message"];



                                    let is_valid = false;
                                    let validation_message = ""

                                    if (!name) {
                                        validation_message = "Name is required."
                                    } else if (!email) {
                                        validation_message = "Email is required."
                                    } else if(!isValidEmail(email)) {
                                        validation_message = "Email is invalid."
                                    }
                                    else if (!subject) {
                                        validation_message = "Subject is required."
                                    } else if (!message) {
                                        validation_message = "Message is required."
                                    } else {
                                        is_valid = true;
                                    }

                                    return [is_valid, validation_message]
                                }

                                const getCookie = (name) => {
                                    let cookieValue = null;
                                    if (document.cookie && document.cookie !== '') {
                                        const cookies = document.cookie.split(';');
                                        for (let i = 0; i < cookies.length; i++) {
                                            const cookie = cookies[i].trim();

                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                            }
                                        }
                                    }
                                    return cookieValue;
                                }

                                const sendEmail = () => {


                                    let data = {
                                        "contact-me-name": $("#contact-me-name").val(),
                                        "contact-me-email": $("#contact-me-email").val(),
                                        "contact-me-subject": $("#contact-me-subject").val(),
                                        "contact-me-message": $("#contact-me-message").val(),
                                    }

                                    let [is_valid, validation_message] = validateEmailData(data);

                                    if(!is_valid){
                                        Swal.fire(
                                            "Error",
                                            validation_message,
                                            "error"
                                        );
                                        return;
                                    }

                                    $.ajaxSetup({
                                        beforeSend: function(xhr, settings) {
                                            xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"))
                                        }
                                    })

                                    $.ajax({
                                        url: `contact-me-email/`,
                                        headers:{
                                            'X-CSRF-Token':'{{ csrf_token }}'
                                        },
                                        dataType: 'json',
                                        type: 'POST',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data),
                                        success: function( data, status, xhr){
                                            notifyEmailSucess();
                                            resetContactMeFields();

                                        },
                                        error: function( request, status, errorThrown ){
                                            notifyEmailError();
                                            resetContactMeFields();

                                        }
                                    })
                                }

                            </script>
                        </body>
                    </html>
